<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" monitorInterval="30">

    <Properties>
        <Property name="PID">????</Property>
        <Property name="LOG_PATTERN">%clr{%d{yyyy-MM-dd HH:mm:ss}}{faint} %clr{%5p} %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n%wEx</Property>
        <Property name="LOG_PATTERN_FILE">%d %-5p [%t] %C{2} (%F:%L) - %m%n</Property>
        <Property name="PATH_FILE_LOG">${bundle:application:log.file.path}</Property>
        <Property name="APP_NAME">engine</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="ENGINE" fileName="${PATH_FILE_LOG}/${APP_NAME}.log"
                     filePattern="${PATH_FILE_LOG}/$${date:yyyy-MM}/${APP_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN_FILE}"/>
            <Policies>
                <TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
                <SizeBasedTriggeringPolicy size="30 MB"/> <!-- Or every 100 MB -->
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="ENGINE_ERROR" fileName="${PATH_FILE_LOG}/${APP_NAME}-error.log"
                     filePattern="${PATH_FILE_LOG}/$${date:yyyy-MM}/${APP_NAME}-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN_FILE}"/>
            <Policies>
                <TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
                <SizeBasedTriggeringPolicy size="30 MB"/> <!-- Or every 100 MB -->
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </Appenders>
    <Loggers>

        <Logger name="org.springframework" level="error" additivity="false">
            <AppenderRef ref="ENGINE_ERROR"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="com.noyss.hr" level="error" additivity="false">
            <AppenderRef ref="ENGINE_ERROR"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="com.noyss.hr" level="debug" additivity="false">
            <AppenderRef ref="ENGINE"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>